<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<input id="userId" type="text" name="firstname"/>
<button id="voteButton">Upvote all comments!</button>
<br>
You voted on <span id="numVotes">0</span> votes
<script>
  var numCommentsVoted = 0;

  function clickVoteButton() {
    console.log('clickVoteButton');
    var userId = $("#userId").val();
    if (!userId) {
      return;
    }
    $.ajax({
      type: "GET",
      url: "/comments/" + userId,
      dataType: "json"
    }).done(receiveComments);
  }

  function receiveComments(data) {
    console.log('receiveComments');
    console.log("data = " + JSON.stringify(data));
    for (var i = 0; i < data.length; i++ ) {
      vote(data[i],"1");
    }
    return;
  }

  function vote(commentId, direction) {
    var randomInterval = Math.floor((Math.random()*2000)+500);
    console.log('randomInterval = ' + randomInterval);
    setTimeout( function() {
      console.log('about to vote');
      $.ajax({
        type: "POST",
        url: "/vote",
        data: {
          "targetCommentId": commentId,
          "direction": direction
        }
      }).done(function() {
        numCommentsVoted += 1;
        $("#numVotes").text(numCommentsVoted);
        return;
      });
    }, randomInterval);
  }

  $("#voteButton").click(clickVoteButton);
</script>
